extends layout

block content
  div(id="header-container")
    h1= "Hello!"
    img(src="/udoit-logo.svg" alt="UDOIT Logo" width="125")
  p This is an internal backend tool used by the UDOIT First Installation tool.
  p You probably ended up here by accident. Please use the URL provided by the installation script to access the app.